// Here you can add other styles

.NewClass {
  background-color: rgb(7, 119, 35);
  width: 55%;

  margin: 50px auto;
}

.NewClass_h {
  background-color: rgb(32, 216, 102);
}

.NewBody {
  background-color: rgb(141, 173, 146);
}
.profBut {
  background-color: rgb(32, 216, 102);
}
