// Variable overrides
//navbar
$navbar-height: 85px;
$navbar-bg:  #94bb58;


//side-bar
$sidebar-bg:  #0c1302;
$sidebar-nav-link-hover-bg:  #99be62;

$primary:   #79aa2e;

//footer-bg_color
$footer-bg:#c8d8b1;
